<div class="heading">
    Academic Buildings
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
<!--                School of Business-->
                <button id="Business" onclick="selectSchool('{{businessBuildings}}', '{{businessDescriptions}}')">School of Business</button>
                
<!--                School of Computing and Academic Studies-->
                <button id="Computing" onclick="selectSchool('{{computingBuildings}}', '{{computingDescriptions}}')">School of Computing and Academic Studies</button>
                
<!--                School of Construction and the Environment-->
                <button id="Construction" onclick="selectSchool('{{constructionBuildings}}', '{{constructionDescriptions}}')">School of Construction and the Environment</button>
                
<!--                School of Energy-->
                <button id="Energy" onclick="selectSchool('{{energyBuildings}}', '{{energyDescriptions}}')">School of Energy</button>
                
<!--                School of Health Sciences-->
                <button id="Health" onclick="selectSchool('{{healthBuildings}}', '{{healthDescriptions}}')">School of Health Sciences</button>
                
<!--                School of Transportation-->
                <button id="Transportation" onclick="selectSchool('{{transportationBuildings}}', '{{transportationDescriptions}}')">School of Transportation</button>
                
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div id="map_area">
            {{>overlay}}
            <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
        </div>
    </div>
</div>