<div class="heading">
    Academic Buildings
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
                {{#each businessAllBuildings}}
                    <button class="dropdown-btn" onclick="selectBusinessSchool('{{this.schoolName}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.schoolName}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                {{/each}}
<!--
                <button class="dropdown-btn" onclick="">School of Business
                    <i class="fa fa-caret-down"></i>
                </button>
-->
                <div class="dropdown-container">
                    {{#each businessSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                <button class="dropdown-btn">School of Computing and Academic Studies
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each computingSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                <button class="dropdown-btn">School of Construction and the Environment
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each constructionSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                <button class="dropdown-btn">School of Energy
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each energySchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                <button class="dropdown-btn">School of Health Sciences
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each healthSciSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                <button class="dropdown-btn">School of Transportation
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each transportationSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div style="overflow: auto;">
            <div id="map_area" style="display: inline-block;">
                {{>overlay}}
                <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
            </div>
        </div>
    </div>
</div>

<script src="js/script.js"></script>