<div class="heading">
    Academic Buildings
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
<!--                School of Business-->
                {{#each businessAllBuildings}}
                    <button class="dropdown-btn" onclick="selectSchool('{{this.schoolName}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.schoolName}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                {{/each}}
                <div class="dropdown-container">
                    {{#each businessSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                
<!--                School of Computing and Academic Studies-->
                {{#each computingAllBuildings}}
                    <button class="dropdown-btn" onclick="selectSchool('{{this.schoolName}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.schoolName}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                {{/each}}
                <div class="dropdown-container">
                    {{#each computingSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                
<!--                School of Construction and the Environment-->
                {{#each constructionAllBuildings}}
                    <button class="dropdown-btn" onclick="selectSchool('{{this.schoolName}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.schoolName}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                {{/each}}
                <div class="dropdown-container">
                    {{#each constructionSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                
<!--                School of Energy-->
                {{#each energyAllBuildings}}
                    <button class="dropdown-btn" onclick="selectSchool('{{this.schoolName}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.schoolName}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                {{/each}}
                <div class="dropdown-container">
                    {{#each energySchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                
<!--                School of Health Sciences-->
                {{#each healthAllBuildings}}
                    <button class="dropdown-btn" onclick="selectSchool('{{this.schoolName}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.schoolName}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                {{/each}}
                <div class="dropdown-container">
                    {{#each healthSciSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
                
<!--                School of Transportation-->
                {{#each transportationAllBuildings}}
                    <button class="dropdown-btn" onclick="selectSchool('{{this.schoolName}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.schoolName}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                {{/each}}
                <div class="dropdown-container">
                    {{#each transportationSchool}}
                        <button onclick="selectAcademicSchools('{{this.buildingNumber}}', '{{this.buildingNumber}}', '{{this.description}}')">{{this.buildingNumber}}</button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div style="overflow: auto;">
            <div id="map_area" style="display: inline-block;">
                {{>overlay}}
                <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
            </div>
        </div>
    </div>
</div>

<script src="js/script.js"></script>