<div class="heading">
    Other Key Places
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
                <button id="Food" onclick="selectFoods('{{foodLocations}}', this.innerText, '{{foodDescription}}', '{{foodLink}}')">Food &amp; Coffee</button>
                <button id="Microwaves" onclick="selectMicrowaves('{{microwavesLocations}}')">Microwaves</button>
                <button id="Social" onclick="selectKeyPlaces('{{socialBuildings}}', '{{socialNames}}')">Social</button>
                <button id="Study Areas" onclick="selectKeyPlaces('{{studyBuildings}}', '{{studyNames}}')">Study Areas</button>
            </div>
        </div>
    </div>
    <div id="map_area" class="col-sm-10">
        {{>overlay}}
        
        <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
    </div>
</div>
<div id="loading" class="d-flex justify-content-center align-items-center" style="height: 100%">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script src="/panzoom/panzoom.js"></script>
<script src="js/zoom.js"></script>
<script src="js/services.js"></script>
<script src="js/script.js"></script>