<div class="heading">
    Other Key Places
</div>
<div class="campus-map">
    <div class="col-sm-2">
        <div class="sidenav">
            <div class="sidenav-cont">
                {{!-- <button class="dropdown-btn">Food &amp; Coffee
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each foodLocations}}
                        <button onclick="selectKeyPlaces('{{this.buildingNumber}}', '{{this.name}}', '{{this.description}}')">{{this.name}}</button>
                    {{/each}}
                </div> --}}
                <button id="Food" onclick="selectFoods('{{foodLocations}}', this.innerText, '{{foodDescription}}', '{{foodLink}}')">Food &amp; Coffee</button>
                <button id="Microwaves" onclick="selectMicrowaves('{{microwavesLocations}}')">Microwaves</button>
                {{!-- <button class="dropdown-btn">Social
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {{#each socialLocations}}
                        <button onclick="selectKeyPlaces('{{this.buildingNumber}}', '{{this.name}}', '')">{{this.name}}</button>
                    {{/each}}
                </div> --}}
                <button id="Social" onclick="selectKeyPlaces('{{socialBuildings}}', '{{socialNames}}')">Social</button>
                <button class="dropdown-btn">Study Areas
                    <i class="fa fa-caret-down"></i>
                </button>
                {{!-- <div class="dropdown-container">
                    {{#each studyAreaLocations}}
                        <button onclick="selectKeyPlaces('{{this.buildingNumber}}', '{{this.name}}', '')">{{this.name}}</button>
                    {{/each}}
                </div> --}}
                
            </div>
        </div>
    </div>
    <div id="map_area" class="col-sm-10">
        {{>overlay}}
        
        <button name="mainMenu" onclick="main_menu()" id="main-menu-btn">Main Menu</button>
    </div>
</div>

<script src="js/script.js"></script>